<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin - Remove Negative Ratings</title>
        <!-- CSS File -->
        <link
        rel="stylesheet" href="/Assets/css/Admin/admin-ratings.css?version=3">
        <!-- Manifest file -->
        <link
        rel="manifest" href="/./manifest.json"/>
        <!-- FontAwesome Icon -->
        <script src="https://kit.fontawesome.com/3220c9480a.js" crossorigin="anonymous"></script>
    </head>

    <body>

        <!-- Top Navigation Bar -->
        <nav>
            <div class="nav-left">
                <div class="logo-container">
                    <a href="/">
                        <i class="fas fa-running "></i>
                        <span class="logo-name">Sportizza</span>
                    </a>
                </div>

                <div
                    class="nav-right">
                    <!-- Profile button -->
                    <div class="nav-profile">
                        <button class="openbutton" onclick="openpopupform()">
                            <div class="profile-details">
                                <img src={{ current_user.profile_pic }} class="profile-picture">
                                <div class="username">{{ current_user.first_name }}
                                    {{ current_user.last_name }}</div>
                            </div>
                        </button>
                    </div>

                    <!-- Signout button -->
                    <div class="sign-in-out-btn">
                        <button onclick="open_popup_signout_message()">Sign Out</button>
                        <!-- {% if session.user_id %}
                                                    User with ID {{session.user_id}} is logged in.
                                                {% endif %} -->
                    </div>
                </div>
            </div>
        </nav>

        <!-- start popup form for edit profile -->
        <div id="myForm" class="sectionpopnav">
            <div class="formsectionprofile" id="formEditUserProfile">
                <div>
                    <button class="closebutton" onclick="closepopupform()">❌</button>
                </div>

                <div class="nav-user-edit-from">
                    <div class="details">
                        <div class="input-box">
                            <h5>Name:</h5>
                            <p>
                                {{ current_user.first_name }}
                                {{ current_user.last_name }}
                            </p>
                        </div>
                        <div class="input-box">
                            <h5>Username:</h5>
                            <p>
                                {{ current_user.username }}
                            </p>
                        </div>
                        <div class="input-box">
                            <h5>Mobile:</h5>
                            <p>
                                {{ current_user.primary_contact }}</p>
                        </div>
                    </div>
                    <div class="editProPic">
                        <img id="form-profile-picture" src={{ current_user.profile_pic }} alt="">
                    </div>
                </div>
                <div class="edit-profile-link">
                    <a href="\Edituserdetails\EditProfileAction">Edit Profile</a>
                </div>
            </div>
        </div>
        <!-- end popup form for edit profile -->

        <!-- start pop up sign out section -->
        <div id="popup_signout" class="sectionpopnav">
            <div class="formsectionnav">
                <div>
                    <button class="closebutton" onclick="close_popup_signout_message()">❌</button>
                </div>
                <form action="/action_page.php" style="margin:20px">
                    <div style="margin:auto">
                        <h1>Sign Out</h1>
                        <p>Do your really want to sign out now?</p>
                    </div>
                </form>
                <div style="display:flex">
                    <button class="popup_buttonnav">
                        {% if current_user %}
                            <a href="/logout">
                                YES</a>
                        {% endif %}
                    </button>
                    <button onclick="close_popup_signout_message()" class="popup_delete_buttonnav">
                        NO
                    </button>
                </div>
            </div>
        </div>
        <!-- end pop up sign out section -->

        <!-- Start OF the POP up Bookig Cancel -->
        <div id="popup_delete" class="sectionpop ">
            <div class="formsection">
                <div>
                    <button class="closebutton" onclick="close_popup_delete_message()">❌</button>
                </div>
                <form action="/action_page.php" style="margin:20px">
                    <div style="margin:auto">
                        <h1>
                            Remove Rating
                        </h1>
                        <p style="margin:auto">
                            Do you really want to remove this rating?
                        </p>
                    </div>
                </form>
                <div style="display:flex">

                    <button class="popup_delete_button">
                        <a id="deleteFAQbutton" href="">
                            YES</a>
                    </button>
                    <button onclick="close_popup_delete_message()" class="popup_button">
                        NO
                    </button>
                </div>
            </div>
        </div>
        <!-- End OF the POP up Booking Cancel -->

        <section
            class="page-container">

            <!-- SIDE NAVIGATION BAR - START -->
            <div class="sidebar">
                <div class="sidebar-container">
                    <div class="side-menu">
                        <i class="fas fa-bars fa-2x " id="side-menu-open-btn"></i>
                        <i class="fas fa-times fa-2x" id="side-menu-close-btn"></i>
                    </div>
                    <ul class="side-menu-list">
                        <li>
                            <a href="/admin/chart" class="side-menu-li">
                                <i class="fas fa-chart-bar"></i>
                                <p class="side-menu-item">Analytics</p>
                            </a>
                            <p class="side-menu-tooltip">Analytics</p>
                        </li>
                        <li>
                            <a href="/admin/manageuser" class="side-menu-li">
                                <i class="fas fa-users"></i>
                                <p class="side-menu-item">Manage Users</p>
                            </a>
                            <p class="side-menu-tooltip">Manage Users</p>
                        </li>

                        <li>
                            <a href="/admin/faq" class="side-menu-li">
                                <i class="fas fa-question"></i>
                                <p class="side-menu-item">FAQ</p>
                            </a>
                            <p class="side-menu-tooltip">FAQ</p>
                        </li>

                        <li>
                            <a href="/admin/ratings" class="side-menu-li">
                                <i class="fas fa-star"></i>
                                <p class="side-menu-item">Ratings</p>
                            </a>
                            <p class="side-menu-tooltip">Ratings</p>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- SIDE NAVIGATION BAR - END -->

            <div class="page-content-container">
                <div class="container">
                    <h1 class="page-header">Remove Ratings</h1>
                </div>

                <div id="view_bookings" class="booking_tab_content active" style="display: block;">
                    <table class="booking-table" id="rating-table">
                        <thead>
                            <tr class="booking-thead-first-tr">
                                <th class="booking-table-first-th">
                                    <div class="booking-table-filter-container">
                                        <div class="booking-table-search-container">
                                            <input type="search" name="search" id="search-rating" onkeyup="searchTable()" placeholder="Search By Arena Name">
                                            <i class="fas fa-search"></i>
                                        </div>
                                        <div class="booking-table-date-picker">
                                            <label class="date-label">Date Posted</label>
                                            <input type="date" id="date-picker" onchange="Datepicker()">
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            <tr class="booking-thead-second-tr">
                                <th class="b-first-th">Sports Arena</th>
                                <th>Feedback ID</th>
                                <th class="description-th">Description</th>
                                <th class="rating-th">Ratings</th>
                                <th>Date Posted</th>
                                <th class="b-last-th">Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for rating in ratings %}
                                <tr>
                                    <td data-label="Sports Arena :" style="white-space: wrap;">{{ rating.sa_name }}
                                        ({{ rating.contact_no }})</td>
                                    <td data-label="Feedback ID :">{{ rating.feedback_id }}</td>
                                    <td data-label="Description :" class="description">{{ rating.description }}</td>
                                    <td data-label="Rating :" class="rating">{{ rating.feedback_rating }}</td>
                                    <td data-label="Date Posted :">{{ rating.date }}</td>
                                    <td class="trash-btn-padding-res">
                                        <a class="trash-btn" onclick="open_popup_delete_message('{{ rating.feedback_id }}')">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </section>

            <!-- Start of Footer -->
            <footer>
                <div class="copyright">
                    <p>
                        Copyright &copy;2021 All rights reserved | Sportizza Inc.
                    </p>
                </div>
            </footer>
            <!-- End of Footer -->
            <script type="text/javascript" src="/Assets/js/Admin/adminRating.js?version=2"></script>
        </body>
    </body>
</html>
