<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin - Analytics</title>
        <!-- CSS File -->
        <link
        rel="stylesheet" href="/Assets/css/Admin/admin-analytics.css?version=9">
        <!-- Manifest file -->
        <link
        rel="manifest" href="/./manifest.json"/>
        <!-- FontAwesome Icon -->
        <script src="https://kit.fontawesome.com/3220c9480a.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
    </head>

    <body>

        <!-- Top Navigation Bar -->
        <nav>
            <div class="nav-left">
                <div class="logo-container">
                    <a href="/">
                        <i class="fas fa-running "></i>
                        <span class="logo-name">Sportizza</span>
                    </a>
                </div>

                <div
                    class="nav-right">
                    <!-- Profile button -->
                    <div class="nav-profile">
                        <button class="openbutton" onclick="openpopupform()">
                            <div class="profile-details">
                                <img src={{ current_user.profile_pic }} class="profile-picture">
                                <div class="username">{{ current_user.first_name }}
                                    {{ current_user.last_name }}</div>
                            </div>
                        </button>
                    </div>

                    <!-- Signout button -->
                    <div class="sign-in-out-btn">
                        <button onclick="open_popup_signout_message()">Sign Out</button>
                    </div>
                </div>
            </div>
        </nav>

        <!-- start popup form for edit profile -->
        <div id="myForm" class="sectionpopnav">
            <div class="formsectionprofile" id="formEditUserProfile">
                <div>
                    <button class="closebutton" onclick="closepopupform()">❌</button>
                </div>

                <div class="nav-user-edit-from">
                    <div class="details">
                        <div class="input-box">
                            <h5>Name:</h5>
                            <p>
                                {{ current_user.first_name }}
                                {{ current_user.last_name }}
                            </p>
                        </div>
                        <div class="input-box">
                            <h5>Username:</h5>
                            <p>
                                {{ current_user.username }}
                            </p>
                        </div>
                        <div class="input-box">
                            <h5>Mobile:</h5>
                            <p>
                                {{ current_user.primary_contact }}</p>
                        </div>
                    </div>
                    <div class="editProPic">
                        <img id="form-edit-profile-picture" src={{ current_user.profile_pic }} alt="">
                    </div>
                </div>
                <div class="edit-profile-link">
                    <a href="\Edituserdetails\EditProfileAction">Edit Profile</a>
                </div>
            </div>
        </div>
        <!-- end popup for profile -->

        <!-- start pop up sign out section -->
        <div id="popup_signout" class="sectionpopnav">
            <div class="formsectionnav">
                <div>
                    <button class="closebutton" onclick="close_popup_signout_message()">❌</button>
                </div>
                <form action="/action_page.php" style="margin:20px">
                    <div style="margin:auto">
                        <h1>Sign Out</h1>
                        <p>Do your really want to sign out now?</p>
                    </div>
                </form>
                <div style="display:flex">
                    <button class="popup_buttonnav">
                        {% if current_user %}
                            <a href="/logout">
                                YES</a>
                        {% endif %}
                    </button>
                    <button onclick="close_popup_signout_message()" class="popup_delete_buttonnav">
                        NO
                    </button>
                </div>
            </div>
        </div>
        <!-- end pop up sign out section -->

        <!-- End Top Navigation Bar -->


        <section
            class="page-container">

            <!-- SIDE NAVIGATION BAR - START -->
            <div class="sidebar">
                <div class="sidebar-container">
                    <div class="side-menu">
                        <i class="fas fa-bars fa-2x " id="side-menu-open-btn"></i>
                        <i class="fas fa-times fa-2x" id="side-menu-close-btn"></i>
                    </div>
                    <ul class="side-menu-list">
                        <li>
                            <a href="/admin/chart" class="side-menu-li">
                                <i class="fas fa-chart-bar"></i>
                                <p class="side-menu-item">Analytics</p>
                            </a>
                            <p class="side-menu-tooltip">Analytics</p>
                        </li>
                        <li>
                            <a href="/admin/manageuser" class="side-menu-li">
                                <i class="fas fa-users"></i>
                                <p class="side-menu-item">Manage Users</p>
                            </a>
                            <p class="side-menu-tooltip">Manage Users</p>
                        </li>
                        <li>
                            <a href="/admin/faq" class="side-menu-li">
                                <i class="fas fa-question"></i>
                                <p class="side-menu-item">FAQ</p>
                            </a>
                            <p class="side-menu-tooltip">FAQ</p>
                        </li>
                        <li>
                            <a href="/admin/ratings" class="side-menu-li">
                                <i class="fas fa-star"></i>
                                <p class="side-menu-item">Ratings</p>
                            </a>
                            <p class="side-menu-tooltip">Ratings</p>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- SIDE NAVIGATION BAR - END -->

            <div id="reportPage" class="page-content-container">
                <div
                    class="container">

                    <!-- Download analytics section - start -->
                    <h1 class="page-header">Analytics</h1>
                    <h2 class="doc-header">Sportizza</h2>
                    <h3 class="doc-sub-header">Analytics for System Admin</h3>
                    <h4 class="doc-date-header" id="date-header"></h4>
                    <!-- Download analytics section - end -->

                    <!-- Date range filters -->
                    <div class="filters">
                        <div class="booking-table-date-picker" style="margin-top:5px;">
                            <label class="date-label" style="margin:5px;">Date Range
                            </label>
                            <select id="analyticsDateFilter" onchange="filterdata()">
                                <option value="12">Last 12 months</option>
                                <option value="6">Last 6 months</option>
                                <option value="3">Last 3 months</option>
                                <option value="1">Last month</option>
                            </select>
                        </div>
                    </div>

                    <!-- Chart calls - Start -->
                    <div id="chartContainer" class="chart-container">
                        <div class="chart-row">
                            <div class="chart">
                                <h5>Customer Analytics</h5>
                                <canvas id="myChart1"></canvas>
                            </div>
                            <div class="chart">
                                <h5>Sports Arena Analytics</h5>
                                <canvas id="myChart2"></canvas>
                            </div>
                        </div>
                        <div class="chart-row">
                            <div class="chart">
                                <h5>Booking Analytics</h5>
                                <canvas id="myChart3"></canvas>
                            </div>
                            <div class="chart-pie">
                                <h5>Payment Analytics</h5>
                                <canvas id="myChart4"></canvas>
                            </div>
                        </div>
                        <div id="tableCharts" class="chart-row">
                            <div class="chart-Table">
                                <h5 class="tableHeader1">Category Analytics</h5>
                                <table class="cTable">
                                    <thead class="dataTableHeader1">
                                        <tr>
                                            <td>Category</td>
                                            <td>Count</td>
                                        </tr>
                                    </thead>
                                    <tbody class="dataTableRows1">
                                        {% for chart in chart5 %}
                                            <tr>
                                                <td>
                                                    {{ chart.category }}</td>
                                                <td class="countData">
                                                    {{ chart.No_Of_Sports_Arenas }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="chart-Table">
                                <h5 class="tableHeader2">Location Analytics</h5>
                                <table class="cTable">
                                    <thead class="dataTableHeader2">
                                        <tr>
                                            <td>Location</td>
                                            <td>Count</td>
                                        </tr>
                                    </thead>
                                    <tbody class="dataTableRows2">
                                        {% for chart in chart6 %}
                                            <tr>
                                                <td>
                                                    {{ chart.location }}</td>
                                                <td class="countData">
                                                    {{ chart.No_Of_Sports_Arenas }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Chart calls - End -->

                    <!-- Download button -->
                    <div id="editor">
                        <button id="downloadPdf" class="faqSubmit">Download</button>
                    </div>
                </div>
            </div>
        </section>


        <script type="text/javascript" src="/Assets/js/lib/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/Assets/js/Admin/adminMain.js?v=1"></script>
        <script type="text/javascript" src="/Assets/js/Admin/adminAnalyticsPieAjax.js?v=1"></script>
        <script type="text/javascript" src="/Assets/js/Admin/adminAnalyticsTableAjax.js?v=1"></script>

        <!-- Chart.js -->
        <script>

            var delayed;

            // Chart 1
            var ctx1 = document.getElementById('myChart1').getContext('2d');
            var myChart1 = new Chart(ctx1, {
                type: 'bar',
                data: {
                    labels: [{% for chart in chart1 %}'{{ chart.Time_Registered }}',{% endfor %}],
                    datasets: [
                        {
                            label: 'No of Customers',
                            data: [{% for chart in chart1 %}{{ chart.No_Of_Customers }},{% endfor %}],
                            backgroundColor: ['#1dd1a1'],
                            borderWidth: 1
                        }
                    ]
                },
                options: {
                    responsive: true,
                    animation: {
                        onComplete: () => {
                            delayed = true;
                        },
                        delay: (context) => {
                            let delay = 0;
                            if (context.type === 'data' && context.mode === 'default' && ! delayed) {
                                delay = context.dataIndex * 300 + context.datasetIndex * 100;
                            }
                            return delay;
                        }
                    },
                    scales: {
                        y: {
                            beginAtZero: true,
                            grid: {
                                color: '#fff'
                            },
                            min: 0,
                            ticks: {
                                stepSize: 1
                            }
                        },
                        x: {
                            beginAtZero: true,
                            grid: {
                                color: '#fff'
                            }
                        }
                    },
                    plugins: {
                        legend: {
                            position: 'bottom'
                        }
                    }
                }
            });

            // Chart 2
            var ctx2 = document.getElementById('myChart2').getContext('2d');
            var myChart2 = new Chart(ctx2, {
                type: 'bar',
                data: {
                    labels: [{% for chart in chart2 %}'{{ chart.Time_Registered }}',{% endfor %}],
                    datasets: [
                        {
                            label: 'No of Sports Arenas',
                            data: [{% for chart in chart2 %}{{ chart.No_Of_Sports_Arenas }},{% endfor %}],
                            backgroundColor: ['#ffa502'],
                            borderWidth: 1
                        }
                    ]
                },
                options: {
                    indexAxis: 'y',
                    responsive: true,
                    animation: {
                        onComplete: () => {
                            delayed = true;
                        },
                        delay: (context) => {
                            let delay = 0;
                            if (context.type === 'data' && context.mode === 'default' && ! delayed) {
                                delay = context.dataIndex * 300 + context.datasetIndex * 100;
                            }
                            return delay;
                        }
                    },
                    scales: {
                        y: {
                            beginAtZero: true,
                            grid: {
                                color: '#fff'
                            }
                        },
                        x: {
                            beginAtZero: true,
                            grid: {
                                color: '#fff'
                            },
                            min: 0,
                            ticks: {
                                stepSize: 1
                            }
                        }
                    },
                    plugins: {
                        legend: {
                            position: 'bottom'
                        }
                    }
                }
            });

            // Chart 3
            var ctx3 = document.getElementById('myChart3').getContext('2d');
            var myChart3 = new Chart(ctx3, {
                type: 'bar',
                data: {
                    labels: [{% for chart in chart3 %}'{{ chart.Time_Booked }}',{% endfor %}],
                    datasets: [
                        {
                            label: 'No of Bookings',
                            data: [{% for chart in chart3 %}{{ chart.No_Of_Bookings }},{% endfor %}],
                            backgroundColor: ['#ee5253'],
                            borderWidth: 1
                        }
                    ]
                },
                options: {
                    responsive: true,
                    animation: {
                        onComplete: () => {
                            delayed = true;
                        },
                        delay: (context) => {
                            let delay = 0;
                            if (context.type === 'data' && context.mode === 'default' && ! delayed) {
                                delay = context.dataIndex * 300 + context.datasetIndex * 100;
                            }
                            return delay;
                        }
                    },
                    scales: {
                        y: {
                            beginAtZero: true,
                            grid: {
                                color: '#fff'
                            },
                            min: 0,
                            ticks: {
                                stepSize: 1
                            }
                        },
                        x: {
                            beginAtZero: true,
                            grid: {
                                color: '#fff'
                            }
                        }
                    },
                    plugins: {
                        legend: {
                            position: 'bottom'
                        }
                    }
                }
            });

            // Chart 4
            var ctx4 = document.getElementById('myChart4').getContext('2d');
            var myChart4 = new Chart(ctx4, {
                type: 'doughnut',
                data: {
                    labels: [{% for chart in chart4 %}'{{ chart.payment_method }}',{% endfor %}],
                    datasets: [
                        {
                            label: '# of Votes',
                            data: [{% for chart in chart4 %}{{ chart.No_Of_Bookings }},{% endfor %}],
                            backgroundColor: [
                                "#55E6C1", "#273c75",
                            ],
                            borderWidth: 1
                        }
                    ]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    animation: {
                        onComplete: () => {
                            delayed = true;
                        },
                        delay: (context) => {
                            let delay = 0;
                            if (context.type === 'data' && context.mode === 'default' && ! delayed) {
                                delay = context.dataIndex * 300 + context.datasetIndex * 100;
                            }
                            return delay;
                        }
                    },
                    plugins: {
                        legend: {
                            position: 'bottom'
                        }
                    }
                }
            });
        </script>

        <!-- Start of Footer -->
        <footer>
            <div class="copyright">
                <p>
                    Copyright &copy;2021 All rights reserved | Sportizza Inc.
                </p>
            </div>
        </footer>
        <!-- End of Footer -->

        <!-- Download PDF of analytics -->
        <script type="text/javascript">
            document.getElementById('downloadPdf').addEventListener('click', () => window.print())
        </script>

        <script type="text/javascript">

            // DATE RANGE CALCULATOR
            // INITIAL DATE RANGE
            var date = new Date();
            var today = date.toDateString().split(' ').slice(1).join(' ');

            var calculatedDate = date.setFullYear(date.getFullYear() - 1);
            calculatedDate = new Date(calculatedDate);
            calculatedDate = calculatedDate.toDateString().split(' ').slice(1).join(' ');
            document.getElementById('date-header').innerHTML = "From " + calculatedDate + " to " + today;

            // FIXED VALUES OF CHART 1 AXES
            const xaxis1 = myChart1.config.data.labels;
            const yaxis1 = myChart1.config.data.datasets[0].data;

            // FIXED VALUES OF CHART 2 AXES
            const xaxis2 = myChart2.config.data.labels;
            const yaxis2 = myChart2.config.data.datasets[0].data;

            // FIXED VALUES OF CHART 3 AXES
            const xaxis3 = myChart3.config.data.labels;
            const yaxis3 = myChart3.config.data.datasets[0].data;

            function filterdata() {
                var dateValue = document.getElementById("analyticsDateFilter").value;

                // DATE RANGE UPDATE
                const curr_date = new Date();

                if (dateValue == 6) {
                    calculatedDate = curr_date.setMonth(curr_date.getMonth() - 6);
                } else if (dateValue == 3) {
                    calculatedDate = curr_date.setMonth(curr_date.getMonth() - 3);
                } else if (dateValue == 1) {
                    calculatedDate = curr_date.setMonth(curr_date.getMonth() - 1);
                } else {
                    calculatedDate = curr_date.setFullYear(curr_date.getFullYear() - 1);
                } calculatedDate = new Date(calculatedDate);
                calculatedDate = calculatedDate.toDateString().split(' ').slice(1).join(' ');
                document.getElementById('date-header').innerHTML = "From " + calculatedDate + " to " + today;

                // CHART 1 UPDATE AXES

                // Slice axes according to date ranges
                var filterxaxis1 = xaxis1.slice(0, dateValue);
                var filteryaxis1 = yaxis1.slice(0, dateValue);

                if (dateValue != 0 && dateValue <= xaxis1.length) {
                    console.log(filterxaxis1);
                    console.log(filteryaxis1);
                    myChart1.config.data.labels = filterxaxis1;
                    myChart1.config.data.datasets[0].data = filteryaxis1;
                    myChart1.update();
                } else {
                    console.log(xaxis1);
                    console.log(yaxis1);
                    myChart1.config.data.labels = xaxis1;
                    myChart1.config.data.datasets[0].data = yaxis1;
                    myChart1.update();
                }

                // CHART 2 UPDATE AXES

                // Slice axes according to date ranges
                var filterxaxis2 = xaxis2.slice(0, dateValue);
                var filteryaxis2 = yaxis2.slice(0, dateValue);

                if (dateValue != 0 && dateValue <= xaxis2.length) {
                    console.log(filterxaxis2);
                    console.log(filteryaxis2);
                    myChart2.config.data.labels = filterxaxis2;
                    myChart2.config.data.datasets[0].data = filteryaxis2;
                    myChart2.update();
                } else {
                    console.log(xaxis2);
                    console.log(yaxis2);
                    myChart2.config.data.labels = xaxis2;
                    myChart2.config.data.datasets[0].data = yaxis2;
                    myChart2.update();
                }

                // CHART 3 UPDATE AXES

                // Slice axes according to date ranges
                var filterxaxis3 = xaxis3.slice(0, dateValue);
                var filteryaxis3 = yaxis3.slice(0, dateValue);

                if (dateValue != 0 && dateValue <= xaxis3.length) {
                    console.log(filterxaxis3);
                    console.log(filteryaxis3);
                    myChart3.config.data.labels = filterxaxis3;
                    myChart3.config.data.datasets[0].data = filteryaxis3;
                    myChart3.update();
                } else {
                    console.log(xaxis3);
                    console.log(yaxis3);
                    myChart3.config.data.labels = xaxis3;
                    myChart3.config.data.datasets[0].data = yaxis3;
                    myChart3.update();
                }
            }

        </script>
    </body>

</html>
