<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.9.0/main.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/moment@5.5.0/main.global.min.js"></script>
    <!-- Manifest file -->
    <link rel="manifest" href="/./manifest.json" />
    <title>cal</title>
</head>
<body>

<div style="width:20%"class="wrapper">

  <!--  Work in progress, filter not working with v5 right now  -->
  <div class="filter">
    <h3>Filter</h3>
    <div class="event_filter_wrapper">
      <input id="hh" class="event_filter" name="event_filter_sel" type="checkbox" value="hh" data-type="state" />
      <label for="hh">Hamburg (HH)</label>
    </div>
    <div class="event_filter_wrapper">
      <input id="sh" class="event_filter" name="event_filter_sel" type="checkbox" value="sh" data-type="state" />
      <label for="sh">Schleswig-Holstein (SH)</label>
    </div>
    <div class="event_filter_wrapper">
      <input id="party" class="event_filter" name="event_filter_sel"  type="checkbox" value="party" data-type="kind" checked="true" />
      <label for="party">Party</label>
    </div>
    <div class="event_filter_wrapper">
      <input id="concert" class="event_filter" name="event_filter_sel" type="checkbox" value="concert" data-type="kind" checked="true" />
      <label for="concert">Concert</label>
    </div>
    <div class="event_filter_wrapper">
      <input id="festival" class="event_filter" name="event_filter_sel" type="checkbox" value="festival" data-type="kind" checked="true" />
      <label for="festival">Festival</label>
    </div>
  </div>

  <div id="calendar"></div>
  
</div>
<script >

    
document.addEventListener('DOMContentLoaded', function() {
  var calendarEl = document.getElementById('calendar');

  var calendar = new FullCalendar.Calendar(calendarEl, {
    headerToolbar: {
      start: 'prev,today,next',
      center: 'title',
      end: 'dayGridMonth,dayGridWeek,listWeek'
    },
    timeZone: 'Europe/Berlin',
    weekNumbers: true,
    initialView: 'dayGridMonth',
    eventTimeFormat: {
      hour: '2-digit',
      minute: '2-digit',
      hour12: false
    },
    views: {
      dayGridWeek: {
        titleFormat: '{DD.{MM.}}YYYY'
      },
      listWeek: {
        titleFormat: '{DD.{MM.}}YYYY'
      }
    },
    events: [
      {
        title: "Festival in HH",
        start: moment().add(1, 'days').format(),
        end: moment().add(4, 'days').add(3, 'hours').format(),
        className: 'festival',
        color: 'orange',
        textColor: 'black',
        kind: 'festival',
        state: 'hh'
      },
      {
        title: "#2 title",
        start: moment().subtract(8, 'days').format('YYYY-MM-DD'),
        end: moment().subtract(8, 'days').format('YYYY-MM-DD'),
        display: 'background',
        color: '#f00000',
        kind: 'holiday',
      },
    ],
    eventClassNames: function(info) {
      
      var result = true;
      var states = [];
      var kinds = [];
      
      // Find all checkbox that are event filters and enabled and save the values.
      $("input[name='event_filter_sel']:checked").each(function () {
        // Saving each type separately
        if ($(this).data('type') == 'state') {
          states.push($(this).val());
        }
        else if ($(this).data('type') == 'kind') {
          kinds.push($(this).val());
        }
      });
      
      // If there are locations to check
      if (states.length) {
        result = result && states.indexOf(info.event.extendedProps.state) >= 0;
      }
      // If there are specific types of events
      if (kinds.length) {
        result = result && kinds.indexOf(info.event.extendedProps.kind) >= 0 || info.event.extendedProps.kind == 'holiday';
      }
      
      if (!result) {
        result = "hidden";
      }
      
      return result;
    },

    windowResize: function(view) {
      var current_view = view.type;
      var expected_view = $(window).width() > 800 ? 'dayGridMonth' : 'listWeek';
      if (current_view !== expected_view) {
        calendar.changeView(expected_view);
      }
    },
  });

  calendar.render();

  if ($(window).width() < 800) {
    calendar.changeView('listWeek');
  }

  $('input[class=event_filter]').change(function() {
    calendar.render();
  });
    
});

</script>

</body>
</html>