<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer</title>
    <!-- CSS Files -->
    <!-- Toggle Password Icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <!-- Top Nav bar CSS styles -->
    <link rel="stylesheet" href="/Assets/css/navbar.css?version=4">
    <!-- File Specific CSS Styles -->
    <link rel="stylesheet" href="/Assets/css/Customer/new_customer_dashboard.css?version=19">
    <!-- <link rel="stylesheet" href="/Assets/css/Customer/new_customer_dashboard.css?version=15"> -->
    <link rel="stylesheet" href="/Assets/css/flashMessages.css?version=1">
    <!-- Manifest file -->
    <link rel="manifest" href="/./manifest.json" />
    <!-- FontAwesome Icon -->
    <script src="https://kit.fontawesome.com/3220c9480a.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Top Navigation Bar -->
    <nav>
        <div class="nav-left">
            <div class="logo-container">
                <a href="/">
                    <i class="fas fa-running "></i>
                    <span class="logo-name">Sportizza</span>
                </a>
            </div>

            <div class="nav-right">
                <!-- Profile button -->
                <div class="nav-profile">
                    <button class="openbutton" onclick="openpopupform()">
                        <div class="profile-details">
                            <img src={{current_user.profile_pic}} class="profile-picture">
                            <div class="username">{{current_user.first_name}} {{current_user.last_name}}</div>
                        </div>
                    </button>
                </div>

                <!-- Signout button -->
                <div class="sign-in-out-btn">
                    <button onclick="open_popup_signout_message()">Sign Out</button>
                    <!-- {% if session.user_id %}
                User with ID {{session.user_id}} is logged in.
            {% endif %} -->
                </div>
            </div>
        </div>
    </nav>

    <!-- start popup form for edit profile -->
    <div id="myForm" class="sectionpopnav">
        <div class="formsectionprofile" id="formEditUserProfile">
            <div>
                <button class="closebutton" onclick="closepopupform()">❌</button>
            </div>

            <div class="nav-user-edit-from">
                <div class="details">
                    <div class="input-box">
                        <h5>Name:</h5>
                        <p>
                            {{current_user.first_name}} {{current_user.last_name}}
                        </p>
                    </div>
                    <div class="input-box">
                        <h5>Username:</h5>
                        <p>
                            {{current_user.username}}
                        </p>
                    </div>
                    <div class="input-box">
                        <h5>Mobile:</h5>
                        <p>
                            {{current_user.primary_contact}}</p>
                    </div>
                </div>
                <div class="editProPic">
                    <img id="form-profile-picture" src={{current_user.profile_pic}} alt="">
                </div>
            </div>
            <div class="edit-profile-link">
                <a href="\Edituserdetails\EditProfileAction">Edit Profile</a>
            </div>
        </div>
    </div>
    <!-- end popup for profile -->

    <!-- start pop up sign out section -->
    <div id="popup_signout" class="sectionpopnav">
        <div class="formsectionnav">
            <div>
                <button class="closebutton" onclick="close_popup_signout_message()">❌</button>
            </div>
            <form action="/action_page.php" style="margin:20px">
                <div style="margin:auto">
                    <h1>Sign Out</h1>
                    <p>Do your really want to sign out now?</p>
                </div>
            </form>
            <div style="display:flex">
                <button class="popup_buttonnav">
                    {% if current_user %}
                    <a href="/logout"> YES</a>
                    {% endif %}
                </button>
                <button onclick="close_popup_signout_message()" class="popup_delete_buttonnav">
                    NO
                </button>
            </div>
        </div>
    </div>
    <!-- end pop up sign out section -->

    <!-- End Top Navigation Bar -->



    <!-- popup share section -->
    <div id="popup_share" class="sectionpop ">
        <div class="formsection">
            <div>
                <button s class="closebutton" onclick="close_popup_share()">❌</button>
            </div>

            <div class="displayDetails">
                <form action="" style="margin:20px">
                    <h1>Share booking details</h1>
                    <div class="shareDetails">
                        
                        <input type="text" id="bdetail1" readonly>
                        
                        
                        
                        <input type="text" id="bdetail2" readonly>
                        <div class="timeslotDisplay">
                            <input type="text" id="bdetail3" readonly>-
                            <input type="text" id="bdetail4" readonly>
                        </div>
                        <input type="text" id="bdetail5" readonly>
                        <input type="text" id="bdetail6" readonly>
                        <input type="text" id="bdetail7" readonly>

                    </div>

                </form>
                <button onclick="copyToClipboard()" id="sharePopup" class="popup_button">
                    Copy
                </button>
            </div>
        </div>
    </div>
    <!-- End popup share section -->



    <!-- start pop up cancel section -->
    <div id="popup_cancel" class="sectionpop ">


        <div class="formsection">

            <div>
                <button s class="closebutton" onclick="close_popup_cancel_message()">❌</button>
            </div>
            <form id="cancelForm" action="Customer/customercancelbooking/" style="margin:20px" method="post">
                <div style="margin:auto">
                    <h1 style="margin:auto">
                        Booking Cancellation
                    </h1>
                    <p>
                        Are you sure to cancel the booking?
                    </p>
                </div>
                <div style="display:flex">

                    <button type="submit" class="popup_delete_button">
                        YES
                    </button>
                    <button onclick="close_popup_cancel_message()" class="popup_button">
                        NO
                    </button>
                </div>
            </form>


        </div>
    </div>
    <!-- end pop up cancel section -->



    <!-- start pop up cannot cancel section -->
    <div id="popup_cannot_cancel" class="sectionpop ">


        <div class="formsection">

            <div>
                <button  class="closebutton" onclick="close_popup_cannot_cancel_message()">❌</button>
            </div>
            <form id="cancelForm" style="margin:20px" method="post">
                <div style="margin:auto">
                    <h1 style="margin:auto">
                        Booking Cancellation
                    </h1>
                    <p>
                        You can not cancel this booking because you have only <span id="cannotCancelBookingDaysSpan">3
                            days</span> left for your booking date.
                    </p>
                </div>
                <div style="display:flex">
                    <button type="button" style="margin:auto" onclick="close_popup_cannot_cancel_message()"
                        class="popup_button">
                        OK
                    </button>
                </div>
            </form>


        </div>
    </div>
    <!-- end pop up cannot cancel section -->


    <!-- start pop up rate section -->
    <div id="popup_rate" class="sectionpop">
        <div class="formsection">

            <div>
                <button class="closebutton" onclick="close_popup_rate_message()">❌</button>
            </div>
            <div>
                <h1>Rate Sports Arena</h1>
            </div>

            <form id="popup_rate_form" action="customer/customeraddfeedback" style="margin:20px" method="post">
                <div class="rating-row">
                    <div class="input-box">
                        <label for="arena_name">Sports Arena Name</label>
                        <input type="text" id="arena_name" name="arena_name" readonly>
                    </div>
                </div>

                <input type="text" id="booking_id" name="booking_id" hidden>
                <input type="text" id="arena_id" name="arena_id" hidden>
                <input type="text" id="customer_id" name="customer_id" value={{current_user.user_id}} hidden>

                <div class="rating-row">
                    <div class="input-box">
                        <label for="lname">Rate your experience</label>
                        <div class="rate">
                            <input type="radio" id="star5" name="rate" value="5" />
                            <label for="star5" title="text">5 stars</label>
                            <input type="radio" id="star4" name="rate" value="4" />
                            <label for="star4" title="text">4 stars</label>
                            <input type="radio" id="star3" name="rate" value="3" />
                            <label for="star3" title="text">3 stars</label>
                            <input type="radio" id="star2" name="rate" value="2" />
                            <label for="star2" title="text">2 stars</label>
                            <input type="radio" id="star1" name="rate" value="1" />
                            <label for="star1" title="text">1 star</label>
                        </div>
                    </div>
                </div>
                <div class="rating-row">
                    <div class="input-box">
                        <label for="lname">Feedback</label>
                        <textarea id="rating_description" name="rating_description" rows=5> </textarea>
                    </div>
                </div>

                <!-- <div class="popup_button_submit"> -->
                    <!-- <button type="submit">
                        <a href="customer/customeraddfeedback">Submit</a>
                    </button> -->
                    <!-- <a href="javascript:{}" onclick="document.getElementById('popup_rate_form').submit();">Submit</a> -->
                <!-- </div> -->
                    <input type="submit" value="Submit" class="popup_button_submit" onclick="submitFeedback()">
            </form>
        </div>
    </div>
    <!-- end pop up rate section -->



    <!-- start pop up delete section -->
    <div id="popup_delete" class="sectionpop ">
        <div class="formsection">

            <div>
                <button s class="closebutton" onclick="close_popup_delete_message()">❌</button>
            </div>
            <form id="deleteForm" action="customer/customerdeletebooking/" style="margin:20px" method="post">
                <div>
                    <h1>
                        Booking deletion
                    </h1>
                    <p>Are you sure to delete this booking?</p>
                </div>


                <div style="display:flex">
                    <button type="submit" class="popup_delete_button">
                        YES
                    </button>
                    <button onclick="close_popup_delete_message()" class="popup_button">
                        NO
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- end pop up delete section -->





    <!-- start pop up delete section for favorite-list -->
    <div id="popup_delete_favorite_list" class="sectionpop ">
        <div class="formsection">

            <div>
                <button s class="closebutton" onclick="close_popup_delete_message_favorite_list()">❌</button>
            </div>
            <form id="form_delete_arena" action="customer/customerdeletefavoritearena/" style="margin:20px"
                method="post">
                <input type="hidden" name="fav_list_id_input" id="fav_list_id_input">
                <div style="margin:auto">
                    <h1 style="margin:auto">
                        Remove Favourite Arena
                    </h1>
                    <p style="margin:auto">
                        Are you sure to delete sports Arena?
                    </p>
                </div>

                <div style="display:flex">
                    <button class="popup_delete_button">
                        YES
                    </button>
                    <button onclick="close_popup_delete_message_favorite_list()" class="popup_button">
                        NO
                    </button>
                </div>
            </form>



        </div>
    </div>
    <!-- end pop up delete section  for favorite-list -->


    <!-- popup notification section -->
    <div id="popup_notification"   class="sectionpop " >


        <div  style="word-wrap: break-word"  class="formsection">

            <div>
                <button  class="closebutton" onclick="close_popup_notification()">❌</button>
            </div>

            <form action="/action_page.php" style="margin:20px">

                <div id="popup_notification">

                </div>

            </form>

        </div>
    </div>
    <!-- End popup notification section -->

    <section class="page-container">


        <div class="page-content-container">
            <div class="container">
                <h1 class="page-header">Hi {{current_user.first_name}} {{current_user.last_name}}!</h1>


                <!-- Flash messages -->
                <p>
                    {% for message in flash_messages %}
                    <div class="alert alert-{{ message.type }}">
                        {{ message.body }}
                    </div>
                    {% endfor %}
                </p>

                </ul>
                <div class="tab">
                    <button id="view_booking_button" class="booking_tab tab-btn"
                        onclick="openTab(event, 'my_bookings')"><i class="fas fa-list"></i>
                        <p>My bookings</p>
                    </button>
                    <button class="booking_tab tab-btn" onclick="openTab(event, 'my_favorite_list')"><i
                            class="fas fa-star"></i>
                        <p>My favorite lists</p>
                    </button>
                    <button class="booking_tab tab-btn" onclick="openTab(event, 'notification')"><i
                            class="fas fa-bell"></i>
                        <p>Notification</p>
                    </button>
                </div>

                <div id="my_bookings" class="booking_tab_content">
                    <table class="booking-table" id="mybooking-table">
                        <thead>
                            <tr class="booking-thead-first-tr">
                                <th class="booking-table-first-th">
                                    <div class="booking-table-filter-container">
                                        <div class="booking-table-search-container">
                                            <input type="search" id="search-arena-booking" name="search"
                                                placeholder="Search by Sports arena name"
                                                onkeyup="SearchArenaBooking()">
                                            <i class="fas fa-search"></i>
                                        </div>
                                        <div class="booking-table-date-picker">
                                            <label class="date-label">Booking Date</label>
                                            <input type="date" id="date-picker" onchange="Datepicker()">
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            <tr class="booking-thead-second-tr">
                                <th style="text-align: left; padding-left:1rem;">Booking ID</th>
                                <th class="table-td-left">Booking Date</th>
                                <th class="table-td-left">Start Time</th>
                                <th class="table-td-left">End Time</th>
                                <th>Sports Arena Name</th>
                                <th class="table-td-right">Category</th>
                                <th>Payment Method</th>
                                <th>Payment Status</th>
                                <th>Amount(LKR)</th>
                                <th style="padding-right: 2em;">Action</th>
                                <!-- <th >  </th> -->
                            </tr>
                        </thead>
                        <tbody>


                            {% for book in bookings %}
                            {% if date(book.booking_date)|date('Y/m/d') >= 'now'|date('Y/m/d')%}
                            {% if book.payment_status=="paid" %}
                            <tr>


                                <td data-label="Booking ID :" class="table-td-left">{{book.booking_id}}</td>
                                <td data-label="Booking Date :" class="table-td-left">{{book.booking_date}}</td>
                                <td data-label="Start Time :" class="table-td-left">{{book.startTime}}</td>
                                <td data-label="End Time :" class="table-td-left">{{book.endTime}}</td>
                                <td data-label="Arena Name:" class="table-td-left">{{book.sa_name}}</td>
                                <td data-label="Category:">{{book.category}}</td>
                                <td data-label="Payment Method :">{{book.payment_method}}</td>
                                <td data-label="Payment Status :">
                                    <div class="Payment-status active"><a href="">{{book.payment_status}}</a></div>
                                </td>
                                <td data-label="Amount:">{{book.price_per_booking}}</td>

                                <!-- <td data-label="Booking Status">Pending</td> -->
                                <td class="btn-float-right">
                                    <div style="display:flex; float:right; padding-right:2rem;">
                                        <div>
                                            <button onclick="open_popup_share('{{book.booking_id}}','{{book.booking_date}}','{{book.startTime}}','{{book.endTime}}',
                                                '{{book.sa_name}}','{{book.category}}','{{book.google_map_link}}')">
                                                <i class="fas fa-share "></i>
                                            </button>
                                        </div>
                                        <div>
                                            {% if date(book.booking_date)|date_modify("-4 day")|date('Y/m/d') >= 'now'|date('Y/m/d')  %}
                                            <button class="icon_red"
                                                onclick="open_popup_cancel_message('{{book.booking_id}}')">
                                                <i class="fas fa-times"></i>
                                            </button>
                                            {% else %}
                                            <button class="icon_red" onclick="open_popup_cannot_cancel_message()">
                                                <i class="fas fa-times"></i>
                                            </button>

                                            {% endif %}
                                        </div>
                                </td>
                </div>
                </td>
            </div>
            </td>
            </tr>
            {% endif %}

            {% if book.payment_status=="unpaid" %}
            <tr>
                <td data-label="Booking ID :" class="table-td-left">{{book.booking_id}}</td>
                <td data-label="Booking Date :" class="table-td-left">{{book.booking_date}}</td>
                <td data-label="Start Time :" class="table-td-left">{{book.startTime}}</td>
                <td data-label="End Time :" class="table-td-left">{{book.endTime}}</td>
                <td data-label="Arena Name:" class="table-td-left">{{book.sa_name}}</td>
                <td data-label="Category:">{{book.category}}</td>
                <td data-label="Payment Method :">{{book.payment_method}}</td>
                <td data-label="Payment Status :">
                    <div class="Payment-status"><a href="">{{book.payment_status}}</a></div>
                </td>
                <td data-label="Amount:">{{book.price_per_booking}}</td>

                <!-- <td data-label="Booking Status">Pending</td> -->
                <td class="btn-float-right">
                    <div style="display:flex; float:right; padding-right:2rem;">
                        <div>
                            <button onclick="open_popup_share('{{book.booking_id}}','{{book.booking_date}}','{{book.startTime}}','{{book.endTime}}',
                                    '{{book.sa_name}}','{{book.category}}','{{book.google_map_link}}')">
                                <i class="fas fa-share "></i>
                            </button>
                        </div>
                        <div>
                            {% if date(book.booking_date)|date_modify("-4 day")|date('Y/m/d') >= 'now'|date('Y/m/d') %}
                            <button class="icon_red" onclick="open_popup_cancel_message('{{book.booking_id}}')">
                                <i class="fas fa-times"></i>
                            </button>
                            {% else %}
                            <button class="icon_red" onclick="open_popup_cannot_cancel_message()">
                                <i class="fas fa-times"></i>
                            </button>

                            {% endif %}
                        </div>
                    </div>
                </td>
            </tr>
            {% endif %}



            {% endif %}


            {% if date(book.booking_date)|date('Y/m/d') < 'now' |date('Y/m/d') %}
             {% if book.payment_status=="paid" %}
            <tr>


                <td data-label="Booking ID :" class="table-td-left">{{book.booking_id}}</td>
                <td data-label="Booking Date :" class="table-td-left">{{book.booking_date}}</td>
                <td data-label="Start Time :" class="table-td-left">{{book.startTime}}</td>
                <td data-label="End Time :" class="table-td-left">{{book.endTime}}</td>
                <td data-label="Arena Name:" class="table-td-left">{{book.sa_name}}</td>
                <td data-label="Category:">{{book.category}}</td>
                <td data-label="Payment Method :">{{book.payment_method}}</td>
                <td data-label="Payment Status :">
                    <div class="Payment-status active"><a href="">{{book.payment_status}}</a></div>
                </td>
                <td data-label="Amount:">{{book.price_per_booking}}</td>

                <!-- <td data-label="Booking Status">Pending</td> -->
                <td class="btn-float-right">
                    <div style="display:flex; float:right; padding-right:2rem;">
                        {% if book.feedback_id==null %}
                        <div>
                            <button
                                onclick="open_popup_rate_message('{{book.booking_id}}','{{book.sa_name}}','{{book.sports_arena_id}}')">
                                <i class="fas fa-star-half-alt"></i>
                            </button>
                        </div>
                        {% else %}
                        <div>
                            <button style="display:invisible ;border:none"  disabled>
                                
                            </button>
                        </div>
                        {% endif %}
                        
                        <div>
                            <button class="icon_red" onclick="open_popup_delete_message('{{book.booking_id}}')">
                                <i class="fas fa-trash-alt"></i>
                                <!-- <i class="fas fa-trash-alt"></i> -->
                            </button>
                        </div>
                </td>
        </div>
        </td>
        </div>
        </td>
        </tr>
        {% endif %}

        {% if book.payment_status=="unpaid" %}
        <tr>
            <td data-label="Booking ID :" class="table-td-left">{{book.booking_id}}</td>
            <td data-label="Booking Date :" class="table-td-left">{{book.booking_date}}</td>
            <td data-label="Start Time :" class="table-td-left">{{book.startTime}}</td>
            <td data-label="End Time :" class="table-td-left">{{book.endTime}}</td>
            <td data-label="Arena Name:" class="table-td-left">{{book.sa_name}}</td>
            <td data-label="Category:">{{book.category}}</td>
            <td data-label="Payment Method :">{{book.payment_method}}</td>
            <td data-label="Payment Status :">
                <div class="Payment-status"><a href="">{{book.payment_status}}</a></div>
            </td>
            <td data-label="Amount:">{{book.price_per_booking}}</td>

            <!-- <td data-label="Booking Status">Pending</td> -->
            <td class="btn-float-right">
                <div style="display:flex; float:right; padding-right:2rem;">
                    <div>
                        <button style="display:invisible ;border:none"  disabled>
                            
                        </button>
                    </div>
                    <div>
                        <button class="icon_red" onclick="open_popup_delete_message('{{book.booking_id}}')">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </div>
                </div>
            </td>
        </tr>
        {% endif %}

        {% endif %}
        {% endfor %}


        </tbody>
        </table>
        </div>
        <div id="my_favorite_list" class="booking_tab_content">



            <table class="booking-table my-favourite-list" id="my_favorite_list">
                <thead>
                    <tr class="booking-thead-first-tr">
                        <th class="booking-table-first-th">
                            <div class="booking-table-filter-container">
                                <div class="booking-table-search-container">
                                    <input type="search" name="search" placeholder="Search By Sport Arena"
                                        id="search-arena-favourite" onkeyup="SearchArenaFavorite()">
                                    <i class="fas fa-search"></i>
                                </div>

                            </div>
                        </th>
                    </tr>
                    <tr class="booking-thead-second-tr">
                        <th class="b-first-th" style="text-align:center;padding-left:1em;">Sports Arena Name
                        </th>
                        <th>Category</th>
                        <th>Location</th>
                        <th></th>
                        <th class="b-last-th"></th>
                    </tr>
                </thead>
                <tbody>

                    {% for item in list %}
                    <tr>
                        <td data-label="Sports Arena Name:">{{item.sa_name}}</td>
                        <td data-label="Category:">{{item.category}}</td>
                        <td data-label="Address:">{{item.location}}</td>
                        <td>
                            <button onclick="" class="avail_button">
                                <a href="/customer/booking/{{item.sports_arena_id}}">Availability</a>
                                <!-- Availability -->
                            </button>
                        </td>
                        <td>
                            <button class="icon_red"
                                onclick="open_popup_delete_message_favorite_list('{{item.sports_arena_id}}','{{item.fav_list_id}}')"
                                class="delete_button">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </td>

                    </tr>

                    {% endfor %}

                </tbody>
            </table>
        </div>

        <div id="notification" class="booking_tab_content">
            <table class="booking-table" id="notifications_table">
                <thead>
                    <tr class="booking-thead-first-tr">
                        <th class="booking-table-first-th">
                            <div class="booking-table-filter-container">
                                <div class="booking-table-search-container">
                                    <input type="search" name="search" placeholder="Search By Notification"
                                        id="search-notifications" onkeyup="SearchNotifications()">
                                    <i class="fas fa-search"></i>
                                </div>
                                <div class="booking-table-date-picker">
                                    <label class="date-label">Date</label>
                                    <input type="date" id="notification-date-picker"
                                    name="notification-date-picker"
                                        onchange="NotificationDatepicker()">
                                </div>
                            </div>
                        </th>
                    </tr>
                    <tr class="booking-thead-second-tr" style="text-align: center;">
                        <th class="b-first-th">Date</th>
                        <th>Time</th>
                        <th class="b-last-th" style="width:57%; text-align:right;">Notification</th>
                    </tr>
                </thead>
                <tbody>
                    {% for notification in notifications %}
                    {% if notification.notification_status == "read" %}
                    <tr class="notification_row" style="cursor: pointer; font-weight:300;"
                        id={{notification.notification_id}}
                        onclick="open_popup_notification('{{notification.subject}}','{{notification.description}}',`{{notification.link}}`)">
                        <td data-label="Date:">{{notification.date}}</td>
                        <td data-label="Time:">{{notification.time}}</td>
                        <td class="notification-td-left">{{notification.subject}}</td>
                        <td style="display:none">
                            <input type="hidden" value="{{notification.notification_id}}"
                                class="notification-value">{{notification.notification_id}}</p>
                        </td>
                    </tr>
                    {% else %}
                    <tr class="notification_row" style="cursor: pointer; font-weight:500;"
                        id={{notification.notification_id}}
                        onclick="open_popup_notification('{{notification.subject}}','{{notification.description}}',`{{notification.link}}`)">
                        <td data-label="Date:">{{notification.date}}</td>
                        <td data-label="Time:">{{notification.time}}</td>
                        <td class="notification-td-left">{{notification.subject}}</td>
                        <td style="display:none">
                            <input type="hidden" value="{{notification.notification_id}}"
                                class="notification-value">{{notification.notification_id}}</p>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}

                </tbody>
            </table>
        </div>



        </div>



    </section>

    <div class="cart">
        <a href="/customer/cart">
            <i class="fas fa-shopping-cart"></i>
        </a>
    </div>
    <!-- Start of Footer -->
    <footer>
        <div class="copyright">
            <p>
                Copyright &copy;2021 All rights reserved | Sportizza Inc.
            </p>
        </div>
    </footer>
    <!-- End of Footer -->

    <!-- Validation js -->
    <script type="text/javascript" src="/Assets/js/signup_validation.js?v=8"></script>
    <!-- Top navbar js -->
    <script type="text/javascript" src="/Assets/js/navbar.js?v=8"></script>
    <!-- File specific js -->
    <script type="text/javascript" src="/Assets/js/Customer/new_customer_dashbord.js?v=15"></script>
    <!-- Service Worker -->
    <!-- <script src="/Assets/js/swSnippet.js"></script>
    <script src="/service-worker.js"></script> -->

    
</body>

</html>
