<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link href="/Assets/css/sp-arena-application.css?version=2" rel="stylesheet" />
    <link href="/Assets/css/customer-signup.css?version=3" rel="stylesheet" />
    <!-- Manifest file -->
    <link rel="manifest" href="/./manifest.json" />

    <title>Sportizza - Customer Signup</title>
</head>

<body>
    <!-- Top Navigation Bar -->
    <nav>
        <div class="nav-container">
            <div class="horizontal-container">
                <div class="cell">
                    <ul class="home-nav">
                        <li>
                            <a href="/home">
                                <i class="fas fa-running"></i>
                                <span class="sportizza-logo">Sportizza</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="page">
        <div class="container">
            <div class="title">Sign Up</div>
            <div class="content">

                <form method="post" action="/signup/create" id="formCustomerSignup" enctype="multipart/form-data"
                    onsubmit="validateCustomerSignupForm()">


                    <div class="manager-details">
                        <div class="input-box">
                            <label for="firstName">First Name</label>
                            <input id="firstName" type="text" name="first_name" onfocusout="validateFirstName()"
                                placeholder="Enter first name" value="{{user.first_name}}">
                            <div class="helper-text" id="firstNameMsg">
                                <p>{{errors["first_name1"]}} {{errors["first_name2"]}}</p>
                            </div>
                        </div>

                        <div class="input-box">
                            <label for="lastName">Last Name</label>
                            <input id="lastName" type="text" name="last_name" onfocusout="validateLastName()"
                                placeholder="Enter last name" value="{{user.last_name}}">
                            <div class="helper-text" id="lastNameMsg">
                                <p>{{errors["last_name1"]}} {{errors["last_name2"]}}</p>
                            </div>
                        </div>

                        <div class="input-box">
                            <label for="mobile">Mobile Number</label>
                            <input id="mobile" type="text" name="mobile_number" onfocusout="validateMobile()"
                                placeholder="Ex:-) 0712345678" value="{{user.mobile_number}}">
                            <div class="helper-text" id="mobileMsg">
                                <p>{{errors["mobile_number1"]}}
                                    {{errors["mobile_number2"]}}
                                    {{errors["mobile_number3"]}}
                                </p>
                            </div>
                        </div>

                        <div class="input-box">
                            <label for="username">Username</label>
                            <input id="username" type="text" name="username" onfocusout="validateUsername()"
                                placeholder="Enter a unique Username" value="{{ user.username}}">
                            <div class="helper-text" id="usernameMsg">
                                <p>{{errors["username1"]}} {{errors["username2"]}}</p>
                            </div>
                        </div>

                        <div class="input-box">
                            <label for="password">Password</label>
                            <input id="password" type="password" name="password" onfocusout="validatePassword()"
                                placeholder="Enter a password" value="{{ user.password}}">
                            <i class="bi bi-eye-slash" id="togglePassword"></i>
                            <div class="helper-text" id="passwordMsg">
                                <p>{{errors["password1"]}} {{errors["password2"]}}
                                    {{errors["password3"]}} {{errors["password4"]}}
                                    {{errors["password5"]}} {{errors["password6"]}}
                                </p>
                            </div>
                        </div>

                        <div class="input-box">
                            <label for="photos">Profile Picture</label>
                            <div class="img-btn-div">
                                <input style type="file" name="image_7" accept="image/*" id="file1"
                                    onchange="change_color(this.files,event)" class="img-button">
                            </div>
                            <div class="helper-text" id="imgMsg1">
                                <p> {% for key,error in errors ["image_7"] %}{{error}}
                                    {% endfor %}</p>
                            </div>
                        </div>

                    </div>
                    <div class="specialMsg">
                        ** Please note that you'll recieve an SMS to the mobile number after Registration.
                    </div>
                    <div class="button">
                        <input type="submit" value="Register" class="btn solid" />
                    </div>
                    <input type="hidden" name="direct_url" id="direct_url" value="/Signup/activeuser">


                </form>
            </div>
        </div>
    </div>

    <!-- Start of Footer -->
    <footer>
        <div class="copyright">
            <p>
                Copyright &copy;2021 All rights reserved | Sportizza Inc.
            </p>
        </div>
    </footer>
    <!-- End of Footer -->

    <script type="text/javascript" src="/Assets/js/signup_validation.js?v=6"></script>
    <script type="text/javascript" src="/Assets/js/customerSignup_validation.js?v=6"></script>
</body>

</html>