<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/3220c9480a.js" crossorigin="anonymous"></script>
        <title>Error 500</title>
        <link
        rel="stylesheet" href="/Assets/css/error.css?version=51">
        <!-- Manifest file -->
        <link rel="manifest" href="/./manifest.json"/>


    </head>

    <body>
        <!-- Top Navigation Bar -->
        <nav>
            <div class="nav-container">
                <div class="horizontal-container">
                    <div class="cell">
                        <ul class="home-nav">
                            <li>
                                <a href="/">
                                    <i class="fas fa-running"></i>
                                    <span class="sportizza-logo">Sportizza</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </nav>
        <!--  End of Top Level Navigation Bar -->

        <!-- Start of Error Page -->
        <div class="error">
            <div class="error-msg">
                <h1>An error occurred!
                </h1>
            </div>
            <div class="error-img">
                <img src="/Assets/images/Error-Images/error_500.svg" align="center" alt="image not found">

            </div>
            <p>Sorry, an error has occurred! Please try again.</p>
            <div class="home-link">
                <ul class="home-nav">
                    <li>
                        <a href="/">
                            <span class="try-again">Try again</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End of Error Page -->

        <!-- Start of Footer -->
        <footer>
            <div class="copyright">
                <p class="text">
                    Copyright &copy;2021 All rights reserved | Sportizza Inc.
                </p>
            </div>
        </footer>
        <!-- End of Footer -->
    </body>

</html>
