<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/3220c9480a.js" crossorigin="anonymous"></script>
        <title>Reset Password</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"/>
        <link
        rel="stylesheet" href="/Assets/css/passwordReset.css">
        <!-- Manifest file -->
        <link rel="manifest" href="/./manifest.json"/>

    </head>

    <body>
        <!-- Top Navigation Bar -->
        <nav>
            <div class="nav-container">
                <div class="horizontal-container">
                    <div class="cell">
                        <ul class="home-nav">
                            <li>
                                <a href="/">
                                    <i class="fas fa-running"></i>
                                    <span class="sportizza-logo">Sportizza</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </nav>
        <!--  End of Top Level Navigation Bar -->

        <div class="container">
            <div class="bgWhite">
                <div class="title">
                    <h3>Reset Password</h3>
                </div>
                <form action="/login/savenewpassword" method="post" id="formUserPasswordReset" onsubmit="validatePasswordResetForm()">
                    <div class="input-row">
                        <div class="input-box">
                            <label for="password">Enter New Password</label>
                            <input id="newPassword" type="password" name="newPassword" onfocusout="validateNewPassword()" placeholder="Enter your password" value="">
                            <i class="bi bi-eye-slash" id="togglePassword"></i>
                            <div class="helper-text" id="firstNameMsg"></div>
                        </div>
                    </div>

                    <input type="submit" class='btn btn-primary btn-block mt-4 mb-4 customBtn' value='Save'>
                </form>
            </div>
        </div>

        <!-- Start of Footer -->
        <footer>
            <div class="copyright">
                <p class="text">
                    Copyright &copy;2021 All rights reserved | Sportizza Inc.
                </p>
            </div>
        </footer>
        <!-- End of Footer -->
        <script type="text/javascript" src="/Assets/js/passwordReset.js?version=2"></script>
        <script type="text/javascript" src="/Assets/js/signup_validation.js"></script>
    </body>

</html>
