@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body,
button,
input textarea {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  position: relative;
  width: 100%;
}
body {
  height: calc(100vh- 6rem);
}
a {
  color: black;
  text-decoration: none;
}
ul {
  list-style: none;
}
nav{

  height: 13vh;  
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 1px 7px 25px rgb(0 0 0 / 13%);
  width: 100vw;
}
nav .logo-container a{
  font-weight: 700;
  font-size: 2.5rem;
  color: #fd461f;
  font-style: italic;
}

nav .search-bar-container{
    margin:auto 0;
    padding: 4px 20px;
    border-radius: 40px;
    width: 25vw;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    height:40px;
    
    
}
nav .search-bar-container input[type="search"]{
    width: 90%;
    outline: none;
    border: none;
    font-size: medium;
    font-weight: 600;
    margin:auto;
    
}
nav .search-bar-container i{
    color: #fd461f;    
}
nav .nav-left{
  width: 100%;
  display: flex;
  flex-direction: row;
  height:50px;
  justify-content: space-evenly;
}


nav .search-bar-container-mobi{
  display: none;
  padding: 8px 20px;
  border-radius: 40px;
  width: 25vw;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  
}
nav .search-bar-container-mobi input[type="search"]{
  width: 90%;
  outline: none;
  border: none;
  font-size: medium;
  font-weight: 600;
  
}
nav .search-bar-container-mobi i{
  color: #fd461f;    
}
nav .nav-profile{
  height: 100%;
  width: max-content;
  display: flex;
  align-items: center;
  border-radius: 30px;
  margin-right: 50px;
  
}
nav .nav-profile .profile-btn{
  height: 10px;
  border-radius: 20px;
  font-size: 1.2rem;
}
nav .nav-profile .profile-btn:hover{
  color: #fd461f;
}
nav .nav-profile .profile-image{
  margin-right: 10px;
  width: 4vw;
  border-radius: 50%;
}
nav .nav-profile .profile-name{
  font-size: 1rem;
  margin-right: 5px;
}
nav .sign-in-out-btn{
  margin:auto 0;
  color:black;
  font-weight:500; 

}

nav .sign-in-out-btn :hover{
  color:#ff2f00;

}

.profile-picture{
  width:50px;
  height:50px;
  border-radius:40px;
  margin:auto 0;
  float:left;
}
/* pop up section */
.sectionpop {
  position: fixed;
  width:100vw;
  height:100vh;
  display: none;
  z-index: 100;
  background-color:gray;
  margin: 0 auto;
}

.formsection{
    display: flex;
    flex-direction:column;
      width:25%;
     min-width: 300px;
      margin: 0 auto;
  background-color:white;
  border-radius: 20px;
  margin-top: 1%;
  
}

.formsection img{
    margin: 0 auto;
    width: 30%;
    border-radius: 500px;
}

.closebutton{
  width:20px;
  float:right;
  margin-right: 15px;
  margin-top: 10px;
}
.openbutton{
    border: none;
    border-radius:50px;
}

.nav-profile .username{
  
  margin:auto;
  width:250px;
  font-weight: 600;
  font-size:15px;
  padding-top: 10px;
  
}


/* end popup section   */


form label{
  font-weight: 600; 
}
form input[type=text],
select {
  
width: 100%;
padding: 12px 20px;
margin: 8px auto;
display: inline-block;
border: 1px solid #ccc;
border-radius: 140px;
box-sizing: border-box;
}

form input[type=submit] {
  
display: flex;
width:max-content;
background-color: #fd461f ;
font-weight: 600;
color: #fff;
padding: 14px 20px;
margin: 8px auto;
border: none;
border-radius: 20px;
cursor: pointer;
justify-content: center;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;


display: inline-block;
  padding: 0.65rem 2rem;
  
  border-radius: 2rem;
  border-width: 0rem;
  font-size: 1.05rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;

}


h1 {
  font-size: 3em;
  margin-bottom: 1em;
}
.container {
  width: 80%;
  margin: auto 10%;
  height: 86vh;
  position: relative;
  overflow: hidden;
}
.sp-arena {
  display: flex;
  margin: 2rem;
  margin-bottom: 1rem;
  height: max-content;
}
.sp-arena .sp-arena-img img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  justify-self: center;
}
.sp-arena .sp-arena-details {
  display: flex;
  flex-direction: column;
  height: 20vh;
  align-items: left;
  padding-left: 5rem;
  margin-top: 1rem;
}
.sp-arena-details .sp-name h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #353b48;
}
.sp-arena-details .other h4 {
  font-size: 1.2rem;
  font-weight: 500;
  color: #7f8c8d;
}
.sp-arena-details .other h5 {
  font-size: 1rem;
  font-weight: 400;
  /* padding-top: 0.5rem; */
  color: #7f8c8d;
}
.sp-arena-details a {
  padding-top: 0.5rem;
  color: #fd461f;
}
.more-details {
  height: 54vh;
  width: 100%;
  border-radius: 25px;
  margin: 0.5rem auto;
  display: none;
}
.more-details.active {
  display: block;
}

.more-details h5 {
  font-size: 1.4rem;
  font-weight: 600;
  color: #34495e;
}
.more-details .detail {
  padding-bottom: 20px;
}
.detail p {
  color: #7f8c8d;
}
.detail-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.detail-grid .sp-arena-slide {
  width: 100%;
  height: 30vh;
}
.detail-grid .google-map {
  justify-content: center;
}
.detail-grid .google-map iframe {
  height: 29vh;
  width: 100%;
}
.detail-grid .sp-arena-slide {
  padding: auto 2rem;
}

.arrow {
  width: 2rem;
  margin: 0 1rem;
  cursor: pointer;
}

.slide-container {
  width: 95%;
  height: 30vh;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.slide-container::-webkit-scrollbar {
  display: none;
}

.slide-container::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  outline: 1px solid #eee;
}

.slide-container .thumbnail {
  flex: 0 0 auto;
  object-fit: cover;
  cursor: pointer;
  margin: 5px;
  height: 200px;
  width: 290px;
  border-radius: 30px;
  overflow: hidden;
  transform: scale(0.95);
  transition: all 0.3s;
  cursor: pointer;
}
.slide-container .thumbnail:hover {
  transform: scale(1);
}
.more-details .bookings-link {
  color: #fd461f;
  font-weight: 600;
  font-size: 1rem;
  float: left;
  margin-top: 0vh;
  margin-left: 37vw;
}
.booking {
  display: grid;
  grid-template-columns: 1fr 2fr;
  flex-direction: row;
  height: 50vh;
  width: 100%;
  border-radius: 25px;
  /* display:none; */
  
}
.booking.hide {
  display:none;
}
.left-container {
  background-color: #ff6348;
  display: flex;
  height: 54vh;
  align-items: center;
  padding: 20% 2rem;
  flex-direction: column;
  border-radius: 25px 0px 0px 25px;
}
.left-container .heading h3 {
  font-size: 2.8rem;
  font-weight: 700;
  color: #fff;
  margin: 2rem auto;
}
.date-picker input[type="date"] {
  background-color: #fff;
  color: #34495e;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  outline: none;
  border-radius: 30px;
  padding: 5px 15px;
  border: none;
  height: 50px;
  margin: 10px auto;
}
.available-bookings {
  background-color: #f97f51;
  height: 54vh;
  overflow-y: scroll;
  color: #fff;
  padding: 50px;
  border-radius: 0px 25px 25px 0px;
}
.available-bookings ul {
  padding: 20px 0;
  list-style: none;
  width: 100%;
}
.available-bookings ul li {
  padding: 25px;
  background: #fff2;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 24px;
  transition: background 0.2s;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.available-bookings ul li:hover {
  background: #fff3;
}
.available-bookings ul li .s-time .e-time .facility {
  display: inline-block;
  width: 75px;
}
.available-bookings .facility {
  font-weight: 600;
  font-size: 20px;
}
.available-bookings ul li .price {
  margin: auto 5rem;
  font-weight: 500;
  font-size: 18px;
}
.available-bookings i {
  float: right;
  font-size: 1.6rem;
}
.available-bookings i:hover {
  color: #2c3e50;
}
.btn.check-availability-btn {
  background-color: #fd461f;
  color: #fff;
  border-radius: 2rem;
  float: right;
  font-size: 1.2rem;
  position: relative;
  font-weight: 600;
  z-index: 40;
  width: max-content;
  text-transform: initial;
  padding: 0.75rem 2.2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.check-availability-btn:hover {
  background-color: #fff;
  color: #fd461f;
}
.cart {
  position: fixed;
  bottom: 40px;
  right: 30px;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  background-color: #fd461f;
  color: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.05);
  transition: 200ms opacity ease;
}
footer {
  box-shadow: 1px 7px 25px rgb(0 0 0 / 13%);
  background-color: #e74c3c;
  color: #fff;
  font-weight: 400;
  font-size: 0.8rem;
  position: absolute;

  width: 100%;
  text-align: center;
  
}
.copyright {
  margin: 0px auto;
  padding: 2px 20px;
  display: sticky;
}
@media (max-width: 1400px) {
  header {
    width: 100px;
    padding: 25px;
  }
  header ul li a {
    width: 50px;
    height: 50px;
    margin-bottom: 25px;
  }
  header ul li a svg {
    width: 24px;
  }
  .calendar {
    padding: 50px;
    width: 600px;
  }
  .calendar-layout {
    width: 500px;
  }
  .available-bookings {
    width: calc(100% - 600px - 100px);
  }
}
@media (max-width: 576px) {
  .container {
    width: 95%;
    margin: auto;
  }
  .sp-arena {
    width: 100%;
    margin: 1rem;
  }
  .sp-arena .sp-arena-img img {
    width: 80px;
    height: 80px;
    float: left;
  }
  .sp-arena .sp-arena-details {
    height: max-content;
    padding-left: 1rem;
    margin: 0;
  }
  .sp-arena-details .sp-name h2 {
    font-size: 1rem;
  }
  .sp-arena-details .other h4 {
    font-size: 0.8rem;
  }
  .sp-arena-details .other h5 {
    font-size: 0.8rem;
  }
  .more-details h5 {
    font-size: 1rem;
  }
  .detail p {
    font-size: 0.8rem;
  }
  .more-details .detail {
    padding-bottom: 20px;
  }
  .detail-grid {
    display: flex;
    grid-template-columns: 1fr 2fr;
    flex-direction: column;
  }
  .detail-grid .google-map iframe {
    height: 20vh;
    margin-bottom: 10px;
  }
  .detail-grid .sp-arena-slide {
    padding: 0.2rem 0.5rem;
  }
  .arrow {
    width: 1.4rem;
    margin: 0 0.2rem;
    cursor: pointer;
  }
  .slide-container {
    height: 19vh;
  }
  .slide-container .thumbnail {
    margin: 5px auto;
    height: 19vh;
    width: 75vw;
    border-radius: 10px;
  }
  .cart {
    bottom: 30px;
    right: 10px;
    height: 50px;
    width: 50px;
  }
  .more-details .bookings-link {
    float: left;
    margin-top: 2vh;
    margin-left: 32vw;
    margin-bottom:10rem;
  }
  .booking {
    /* display: flex; */
    flex-direction: column;
    height: 56vh;
    display:none;
    
  }

  .left-container {
    height: 10vh;
    padding: 5%;
    flex-direction: row;
    align-items: center;
    border-radius: 25px;
    display:none;
  }
  .left-container .heading h3 {
    font-size: 1.4rem;
    margin: 0rem auto;
    padding-right: 10px;
  }
  .date-picker input[type="date"] {
    width: 150px;
    font-size: 0.8rem;
    border-radius: 30px;
    padding: 5px 10px;
    height: 40px;
    margin: 0px auto;
  }
  .available-bookings {
    margin: 1rem auto;
    border-radius: 25px;
    height: 48vh;
    padding: 20px;
    width: 100%;
    display:none;
  }
  .available-bookings h2{
    text-align: center;
  }
  .available-bookings ul li {
    padding: 15px 0;
    flex-direction: column;
    align-items: left;
  }
}
