<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Bookings</title>
    <!-- Top Nav bar CSS styles -->
    <link rel="stylesheet" href="/Assets/css/navbar.css?version=4">
    <!-- File Specific CSS Styles -->
    <link rel="stylesheet" href="/Assets/css/SpArenaManager/manage-bookings.css?version=8">
    <link rel="stylesheet" href="/Assets/css/BookingHandelingStaff/sidebar.css?version=10">
    <!-- Manifest file -->
    <link rel="manifest" href="/./manifest.json" />
    
    <script src="https://kit.fontawesome.com/3220c9480a.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Top Navigation Bar -->
    <nav>
        <div class="nav-left">
            <div class="logo-container">
                <a href="/">
                    <i class="fas fa-running "></i>
                    <span class="logo-name">Sportizza</span>
                </a>
            </div>

            <div class="nav-right">
                <!-- Profile button -->
                <div class="nav-profile">
                    <button class="openbutton" onclick="openpopupform()">
                        <div class="profile-details">
                            <img src={{current_user.profile_pic}} class="profile-picture">
                            <div class="username">{{current_user.first_name}} {{current_user.last_name}}</div>
                        </div>
                    </button>
                </div>

                <!-- Signout button -->
                <div class="sign-in-out-btn">
                    <button onclick="open_popup_signout_message()">Sign Out</button>
                </div>
            </div>
        </div>
    </nav>

    <!-- start popup for profile -->
    <div id="myForm" class="sectionpopnav">
        <div class="formsectionprofile" id="formEditUserProfile">
            <div>
                <button class="closebutton" onclick="closepopupform()">❌</button>
            </div>

            <div class="nav-user-edit-from">
                <div class="details">
                    <div class="input-box">
                        <h5>Name:</h5>
                        <p>
                            {{current_user.first_name}} {{current_user.last_name}}
                        </p>
                    </div>
                    <div class="input-box">
                        <h5>Username:</h5>
                        <p>
                            {{current_user.username}}
                        </p>
                    </div>
                    <div class="input-box">
                        <h5>Mobile:</h5>
                        <p>
                            {{current_user.primary_contact}}</p>
                    </div>
                </div>
                <div class="editProPic">
                    <img id="form-profile-picture" src={{current_user.profile_pic}} 
                    alt="" style="width:110px; height:110px;">
                </div>
            </div>
            <div class="edit-profile-link">
                <a href="\Edituserdetails\EditProfileAction">Edit Profile</a>
            </div>
        </div>
    </div>
    <!-- end popup for profile -->

    <!-- start pop up sign out section -->
    <div id="popup_signout" class="sectionpopnav">
        <div class="formsectionnav">
            <div>
                <button class="closebutton" onclick="close_popup_signout_message()">❌</button>
            </div>
            <form action="/action_page.php" style="margin:20px">
                <div style="margin:auto">
                    <h1>Sign Out</h1>
                    <p>Do your really want to sign out now?</p>
                </div>
            </form>
            <div style="display:flex">
                <button class="popup_buttonnav">
                    {% if current_user %}
                    <a href="/logout"> YES</a>
                    {% endif %}
                </button>
                <button onclick="close_popup_signout_message()" class="popup_delete_buttonnav">
                    NO
                </button>
            </div>
        </div>
    </div>
    <!-- end pop up sign out section -->
    <!-- End Top Navigation Bar -->

    <section class="page-container">

        <!-- SIDE NAVIGATION BAR - START -->
        <div class="sidebar">
            <div class="sidebar-container">
                <div class="side-menu">
                    <i class="fas fa-bars fa-2x " id="side-menu-open-btn"></i>
                    <i class="fas fa-times fa-2x" id="side-menu-close-btn"></i>
                </div>
                <ul class="side-menu-list">
                    <li>
                        <a href="/Spbookstaff" class="side-menu-li">
                            <i class="fas fa-home"></i>
                            <p class="side-menu-item">Arena Profile</p>
                        </a>
                        <p class="side-menu-tooltip">Arena Profile</p>
                    </li>
                    <li>
                        <a href="/Spbookstaff/managebookings" class="side-menu-li">
                            <i class="fas fa-bookmark"></i>
                            <p class="side-menu-item">View Bookings</p>
                        </a>
                        <p class="side-menu-tooltip">Bookings</p>
                    </li>
                    <li>
                        <a href="/Spbookstaff/sabookstaffnotification" class="side-menu-li">
                            <i class="fas fa-bell"></i>
                            <span class="badge">{{notificationsCount}}</span>
                            <p class="side-menu-item">Notifications</p>
                        </a>
                        <p class="side-menu-tooltip">Notifications</p>
                    </li>
                </ul>
            </div>
        </div>
        <!-- SIDE NAVIGATION BAR - END -->

        <!-- Manage Bookings Page -->
        <div class="page-content-container">
            <div class="container">
                <h1 class="page-header">View Bookings</h1>
                
                <!-- View Bookings Tab -->
                <div id="view_bookings" class="booking_tab_content active" style="display: block;">
                    <table class="booking-table" id="view-booking">
                        <thead>
                            <tr class="booking-thead-first-tr">
                                <th class="booking-table-first-th">
                                    <div class="booking-table-filter-container">
                                        <div class="booking-table-search-container">
                                            <input type="search" name="search" placeholder="Search By Booking ID"
                                                id="search-view-booking" onkeyup="searchViewTable()">
                                            <i class="fas fa-search"></i>
                                        </div>
                                        <div class="booking-table-date-picker">
                                            <label class="date-label">Booking Date</label>
                                            <input type="date" id="view-date-picker" onchange="ViewDatepicker()">
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            <tr class="booking-thead-second-tr">
                                <th class="b-first-th">Booking ID</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th>Amount(LKR)</th>
                                <th>Booking Date</th>
                                <th>Mobile Number</th>
                                <th>Payment Method</th>
                                <th class="b-last-th">Payment Status</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for book in bookings %}
                            {% if book.payment_status=="paid" %}
                            <tr>
                                <td data-label="Booking ID :">{{book.booking_id}}</td>
                                <td data-label="Start Time :">{{book.start_time}}</td>
                                <td data-label="End Time :">{{book.end_time}}</td>
                                <td data-label="Amount(LKR) :">{{book.price_per_booking}}</td>
                                <td data-label="Booking Date :">{{book.booking_date}}</td>
                                <td data-label="Mobile Number :">{{book.primary_contact}}</td>
                                <td data-label="Payment Method :">{{book.payment_method}}</td>
                                <td>
                                    <div class="Payment-status active"><a href="">{{book.payment_status}}</a></div>
                                </td>

                            </tr>
                            {% endif %}


                            {% if book.payment_status=="unpaid" %}
                            <tr>
                                <td data-label="Booking ID :">{{book.booking_id}}</td>
                                <td data-label="Start Time :">{{book.start_time}}</td>
                                <td data-label="End Time :">{{book.end_time}}</td>
                                <td data-label="Amount(LKR) :">{{book.price_per_booking}}</td>
                                <td data-label="Booking Date :">{{book.booking_date}}</td>
                                <td data-label="Mobile Number :">{{book.primary_contact}}</td>
                                <td data-label="Payment Method :">{{book.payment_method}}</td>
                                <td>
                                    <div class="Payment-status "><a href="">{{book.payment_status}}</a></div>
                                </td>

                            </tr>
                            {% endif %}
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!-- Start of Footer -->
    <footer>
        <div class="copyright">
            <p>
                Copyright &copy;2021 All rights reserved | Sportizza Inc.
            </p>
        </div>
    </footer>
    <!-- End of Footer -->
    <!-- Top navbar js -->
    <script type="text/javascript" src="/Assets/js/navbar.js?v=8"></script>
    <!-- File Specific js -->
    <script type="text/javascript" src="/Assets/js/SpArenaManager/manage-bookings.js?version=3"></script>
</body>

</html>