<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sports Arena Profile</title>
    <!-- Top Nav bar CSS styles -->
    <link rel="stylesheet" href="/Assets/css/navbar.css?version=5">
    <!-- File Specific CSS Styles -->
    <link rel="stylesheet" href="/Assets/css/SpArenaManager/editArenaProfile.css">
    <!-- Manifest file -->
    <link rel="manifest" href="/./manifest.json" />
    <!-- Font Styles -->
    <script src="https://kit.fontawesome.com/3220c9480a.js" crossorigin="anonymous"></script>

</head>

<body>
    <!-- Top Navigation Bar -->
    <nav>
        <div class="nav-left">
            <div class="logo-container">
                <a href="/">
                    <i class="fas fa-running "></i>
                    <span class="logo-name">Sportizza</span>
                </a>
            </div>

            <div class="nav-right">
                <!-- Profile button -->
                <div class="nav-profile">
                    <button class="openbutton" onclick="openpopupform()">
                        <div class="profile-details">
                            <img src={{current_user.profile_pic}} class="profile-picture">
                            <div class="username">{{current_user.first_name}} {{current_user.last_name}}</div>
                        </div>
                    </button>
                </div>

                <!-- Signout button -->
                <div class="sign-in-out-btn">
                    <button onclick="open_popup_signout_message()">Sign Out</button>
                </div>
            </div>
        </div>
    </nav>
    <div id="popup_delete" class="sectionpop ">
        <div class="formsection">
            <div>
                <button class="closebutton" onclick="close_popup_map()">❌</button>
            </div>
            <form style="margin:20px">
                <div style="margin:auto">
                    <h1>
                        Mark the position
                    </h1>
                </div>
                <div style="display:flex;flex-direction: column;">
                    <div id="map" style="height: 200px;width: 100%;"></div>
                    <button onclick="close_popup_map()" class="popup_button" type="button">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- start popup for profile -->
    <div id="myForm" class="sectionpopnav">
        <div class="formsectionprofile" id="formEditUserProfile">
            <div>
                <button class="closebutton" onclick="closepopupform()">❌</button>
            </div>

            <div class="nav-user-edit-from">
                <div class="details">
                    <div class="input-box">
                        <h5>Name:</h5>
                        <p>
                            {{current_user.first_name}} {{current_user.last_name}}
                        </p>
                    </div>
                    <div class="input-box">
                        <h5>Username:</h5>
                        <p>
                            {{current_user.username}}
                        </p>
                    </div>
                    <div class="input-box">
                        <h5>Mobile:</h5>
                        <p>
                            {{current_user.primary_contact}}</p>
                    </div>
                </div>
                <div class="editProPic">
                    <img id="form-profile-picture" src={{current_user.profile_pic}} alt="">
                </div>
            </div>
            <div class="edit-profile-link">
                <a href="\Edituserdetails\EditProfileAction">Edit Profile</a>
            </div>
        </div>
    </div>
    <!-- end popup for profile -->

    <!-- start pop up sign out section -->
    <div id="popup_signout" class="sectionpopnav">
        <div class="formsectionnav">
            <div>
                <button class="closebutton" onclick="close_popup_signout_message()">❌</button>
            </div>
            <form action="/action_page.php" style="margin:20px">
                <div style="margin:auto">
                    <h1>Sign Out</h1>
                    <p>Do your really want to sign out now?</p>
                </div>
            </form>
            <div style="display:flex">
                <button class="popup_buttonnav">
                    {% if current_user %}
                    <a href="/logout"> YES</a>
                    {% endif %}
                </button>
                <button onclick="close_popup_signout_message()" class="popup_delete_buttonnav">
                    NO
                </button>
            </div>
        </div>
    </div>
    <!-- end pop up sign out section -->

    <!-- End Top Navigation Bar -->


    <div class="page-container">
        <!-- Start OF the POP up Edit arena form -->
        <div id="popup_edit_form" class="edit_sectionpop">
            <div class="edit_formsection">
                <div>
                    <a href="/Sparenamanager">
                        <button class="closebutton">❌</button>
                    </a>
                </div>
                <h2>Sport Arena Profile</h2>
                <form action="/Sparenamanager/editarenaprofile/{{arena_details.sports_arena_id}}" id="arena-edit-form"
                    method="post" onsubmit="validateEditForm()">
                    <div class="sp-edit-form">
                        <div class="input-row">
                            <div class="input-box">
                                <label for="spArenaName">Sports Arena Name</label>
                                <input id="spArenaName" type="text" name="arena_name" placeholder="Enter Arena Name"
                                    onfocusout="validateSpArenaName()" value="{{arena_details.sa_name}}">
                                <div class="helper-text" id="spArenaNameMsg">
                                    <p>{{errors["arena_name1"]}} {{errors["arena_name2"]}}</p>
                                </div>
                            </div>

                            <div class="input-box">
                                <label for="contact">Contact Number</label>
                                <input id="contact" type="tel" name="contact" placeholder="Ex: 0712345678"
                                    onfocusout="validateContact()" value="{{arena_details.contact_no}}">
                                <div class="helper-text" id="contactMsg">
                                    <p>{{errors["contact1"]}} {{errors["contact2"]}}</p>
                                </div>
                            </div>
                        </div>

                        <div class="input-row">
                            <div class="input-box">
                                <label for="category">Category</label>
                                <div class="options-container">
                                    <div class="custom-select">
                                        <input id="category" type="text" name="category"
                                            placeholder="Enter Sport Category" onfocusout="validateSparenaCategory()"
                                            value="{{arena_details.category}}">

                                        <div class="helper-text" id="other-categoryMsg">
                                            <p>{{errors["category1"]}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="input-box">
                                <label for="location">Location</label>
                                <div class="options-container">
                                    <div class="custom-select">
                                        <input id="location" type="text" name="location"
                                            placeholder="Enter arena location" onfocusout="validateSparenaLocation()"
                                            value="{{arena_details.location}}">
                                            <div class="helper-text" id="other-locationMsg">
                                                <p>{{errors["location1"]}}</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="input-box">
                            <label for="map-link">Google Map Link</label>
                            <input id="map-link" type="text" name="google_map_link"
                                placeholder="Ex: https://www.google.com/maps?q=204+C+Sandpiper+Place,+Fort+McMurray,+AB,+Canada"
                                onfocusout="validateMapLink()" value="{{arena_details.google_map_link}}">
                                <button
                                id="get-position" type="button" onclick="open_popup_map()"><i class="fas fa-map-marker-alt"></i><span>Get Position</span></button>
                            <div class="helper-text" id="map-linkMsg">
                                <p>{{errors["google_map1"]}} {{errors["google_map2"]}}</p>
                            </div>
                        </div>

                        <div class="input-box" id="description-input">
                            <label for="description">Description</label>
                            <textarea id="description" rows="5" type="text" name="description"
                                placeholder="(Briefly state about sports arena)"
                                onfocusout="validateDescription()">{{arena_details.description}}</textarea>
                            <div class="helper-text" id="descriptionMsg">
                                <p>{{errors["description1"]}}</p>
                            </div>
                        </div>

                        <div class="input-row">
                            <div class="input-box">
                                <label for="other-facilities">Other Facilities</label>
                                <input id="other-facilities" type="text" name="other_facilities"
                                    onfocusout="validateOtherFacilities()"
                                    placeholder="Ex: Changing Rooms, Cafeteria, Car Parking, etc."
                                    value="{{arena_details.other_facilities}}">
                                <div class="helper-text" id="descriptionMsg">
                                    <p>{{errors["other_facilities1"]}}</p>
                                </div>
                            </div>
                            <div class="input-box">
                                <label for="payment">Accepted Payment Method</label>
                                <div class="options-container">

                                    <div class="custom-select">
                                        <select id="payment" name="payment_method" onchange="validatePayment()">
                                            {% if arena_details.payment_method== 'cash' %}
                                            <option value="cash" selected>Only cash Payment</option>
                                            <option value="card">Only card payments</option>
                                            <option value="both">Both cash & card payments</option>
                                            {% elseif arena_details.payment_method== 'card' %}
                                            <option value="cash">Only cash Payment</option>
                                            <option value="card" selected>Only card payments</option>
                                            <option value="both">Both cash & card payments</option>
                                            {% elseif arena_details.payment_method== 'both' %}
                                            <option value="cash">Only cash Payment</option>
                                            <option value="card">Only card payments</option>
                                            <option value="both" selected>Both cash & card payments</option>
                                            {% endif %}
                                        </select>
                                        <div class="helper-text" id="paymentMsg">
                                            <p>{{errors["payment_method1"]}}</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="submit" value="Update Profile" id="edit_arena_profile"class="popup_button">
                </form>
                <div class="image-container">
                    <div class="image-container-row" id="image_uploader">
                        <form class="editProPic" action="/Sparenamanager/editimageone" method="post" id="image_upload_1" enctype="multipart/form-data">
                            <img id="photo1" src="{{arena_details.photo1_name}}" alt="">
                            <input type="file" id="file1" name="image_1" accept="image/*">
                            <label for="file1" id="uploadBtn1" onclick="ChangeImage(1)">Change Photo</label>
                        </form>
                        <form class="editProPic" action="/Sparenamanager/editimagetwo" method="post" id="image_upload_2" enctype="multipart/form-data">
                            <img id="photo2" src="{{arena_details.photo2_name}}" alt="">
                            <input type="file" id="file2" name="image_2" accept="image/*">
                            <label for="file2" id="uploadBtn2" onclick="ChangeImage(2)">Change Photo</label>
                        </form>
                        <form class="editProPic" action="/Sparenamanager/editimagethree" method="post" id="image_upload_3" enctype="multipart/form-data">
                            <img id="photo3" src="{{arena_details.photo3_name}}" alt="">
                            <input type="file" id="file3" name="image_3" accept="image/*">
                            <label for="file3" id="uploadBtn3" onclick="ChangeImage(3)">Change Photo</label>
                        </form>
                    </div>
                   <div class="image-container-row">
                        <form class="editProPic" action="/Sparenamanager/editimagefour" method="post" id="image_upload_4" enctype="multipart/form-data">
                            <img id="photo4" src="{{arena_details.photo4_name}}" alt="">
                            <input type="file" id="file4" name="image_4" accept="image/*">
                            <label for="file4" id="uploadBtn4" onclick="ChangeImage(4)">Change Photo</label>
                        </form>
                        <form class="editProPic" action="/Sparenamanager/editimagefive" method="post" id="image_upload_5" enctype="multipart/form-data">
                            <img id="photo5" src="{{arena_details.photo5_name}}" alt="">
                            <input type="file" id="file5" name="image_5" accept="image/*">
                            <label for="file5" id="uploadBtn5" onclick="ChangeImage(5)">Change Photo</label>
                        </form>
                   </div>
                </div>
            </div>

        </div>

    </div>

    <!-- Start of Footer -->
    <footer>
        <div class="copyright">
            <p>
                Copyright &copy;2021 All rights reserved | Sportizza Inc.
            </p>
        </div>
    </footer>
    <!-- End of Footer -->
    <!-- Top navbar js -->
    <script type="text/javascript" src="/Assets/js/navbar.js?v=8"></script>
    <!-- File specific JS -->
    <script type="text/javascript" src="/Assets/js/editprofile.js?version=1"></script>
    <script type="text/javascript" src="/Assets/js/SpArenaManager/edit-arena-profile.js?version=1"></script>
    <script type="text/javascript" src="/Assets/js/signup_validation.js?version=7.0"></script>
    
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2e00P4iPaWX6u26a1MNg-cYKLyY3jsoo&callback=initMap&v=weekly"
        async></script>
        <script type="text/javascript" src="/Assets/js/lib/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/Assets/js/SpArenaManager/edit-arena-profile-ajax.js"></script>
</body>

</html>